{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reclamations list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td><a href="{{ path('reclamation_index', { 'idrec': reclamation.idrec }) }}">{{ reclamation.idrec }}</a></td>
                <td>{% if reclamation.daterec %}{{ reclamation.daterec|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reclamation_index', { 'idrec': reclamation.idrec }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamation_edit', { 'idrec': reclamation.idrec }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamation_new') }}">Create a new reclamation</a>
        </li>
    </ul>
{% endblock %}
