{% extends "@Forum/layout.html.twig" %}
{% block body %}
    <center><h1 class="text-danger">Search For Forum Categories </h1></center>
    <div class="active-pink-3 active-pink-4 mb-4">
        <input class="form-control" name="nom" id="cle" type="text" placeholder="Search" aria-label="Search">
    </div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
    </tr>
    </thead>
    <tbody id="tb">
    {% for post in cats %}
        <tr>
            <td>
                <center> {{ post.id }}</center>
            </td>
            <td>
                <center>{{ post.cat }}</center>
            </td>
            <td scope="row">
                <center>{{ post.content }}</center>
            </td>
        </tr>
    {% endfor %}
</table>
<script src="{{ asset('jquery.js') }}"></script>
<script>

    $('#cle').keyup(
        function () {
            var input=$('#cle').val();
            $.ajax({
                url:'{{path('searchcomment')}}',
                type:'POST',
                data:{'nom':input},
                success:function(data,xhr){
                    $('#tb').empty();
                    $.each(data,function (i,ele){
                        $('#tb').append(
                            "<tr >"+
                            "<td>"+ele.id+"</td>"+
                            "<td>"+ele.content+"</td>"+
                            "</tr>"
                        )
                    })}
            })
        }
    )
</script>
{% endblock %}
