{% extends "base.html.twig" %}
    {% block body %}
        <div class="row">
            <div class="col-lg-6">

                <div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'margin': 10}">
                    <div>
                        <img alt="" height="300" class="img-fluid" src="{{asset('styling/img/products/product-7-3.jpg')}}">
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="summary entry-summary">

                    <h1 class="mb-0"><strong>{{ evenement.nomev }}</strong></h1>
                    <div title="Rated 5.00 out of 5" class="star-rating">
                        <span style="width:100%"><strong class="rating">Nombre de place disponible:</strong>{{ evenement.nbrparticipants }} </span>
                    </div>

                    <p class="price">
                        <strong class="rating">Date debut:</strong><span class="amount">{{ evenement.datedebut|date }}</span>
                    </p>
                    <p class="price">
                        <strong class="rating">Date fin:</strong><span class="amount">{{ evenement.datefin|date }}</span>
                    </p>

                    <p class="mb-5">{{ evenement.description }} </p>


                        <button  class="btn btn-primary pt-2 pb-2 pr-3 pl-3"><a href="{{path('participer_events',{'id':evenement.idev})}}" style="color: #fafffb">Participer</a></button>

                </div>
            </div>
        </div>
{% endblock %}