{% extends "adminbase.html.twig" %}
{% block body %}


    <div class="container">
    <section class="card card-admin">
        <header class="card-header">


            <h2 class="card-title" align="center">EVENEMENTS</h2>
        </header>
        <div class="header-search d-none d-md-block" >
            <form  method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="nom" id="cle" placeholder="Search..." required="">
                    <span class="input-group-btn">
													<button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
												</span>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <button id="addToTable" class="btn btn-primary"><a href="{{path('add_events_admin')}}" style="color: #fafffb">Ajouter evenement</a> <i class="fa fa-plus"></i></button>
                        <button class="btn btn-primary"><a href="{{path('gerer_events_AValider_admin')}}" style="color: #fafffb">A approuver</a></button>
                        <button class="btn btn-primary"><a href="{{path('gerer_events_EnCours_admin')}}" style="color: #fafffb">En cours</a></button>
                        <button class="btn btn-primary"><a href="{{path('gerer_events_Archive_admin')}}" style="color: #fafffb">Archive</a></button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-0" id="t">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Lieu</th>
                    <th>Capacite</th>
                    <th>Date de debut</th>
                    <th>Date de fin</th>
                    <th>Actions </th>
                </tr>
                </thead>
                <tbody>
                {% for evenement in evenements%}
                    <tr data-item-id="1">
                        {% if (evenement.etatev==-1) %}
                        <td bgcolor="yellow"> {{ evenement.nomev }}  </td>
                        <td bgcolor="yellow">{{ evenement.lieu }}</td>
                        <td bgcolor="yellow">{{ evenement.nbrparticipants }}</td>
                        <td bgcolor="yellow">{{ evenement.datedebut|date }}</td>
                        <td bgcolor="yellow">{{ evenement.datefin|date }}</td>
                        <td class="actions" bgcolor="yellow">

                            <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                            <a href="{{ path('update_events_admin',{'id':evenement.idev}) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                            <a  href="{{ path('delete_events_admin',{'id':evenement.idev}) }}" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            {% if (evenement.etatev==0) %}
                                <a href="{{ path('approuver_events_admin',{'id':evenement.idev}) }}">Approuver</a>
                            {% endif %}

                            {% elseif (evenement.etatev==1) %}
                                <td bgcolor="green"> {{ evenement.nomev }}  </td>
                                <td bgcolor="green">{{ evenement.lieu }}</td>
                                <td bgcolor="green">{{ evenement.nbrparticipants }}</td>
                                <td bgcolor="green">{{ evenement.datedebut|date }}</td>
                                <td bgcolor="green">{{ evenement.datefin|date }}</td>
                                <td class="actions" bgcolor="green">

                                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                    <a href="{{ path('update_events_admin',{'id':evenement.idev}) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                    <a  href="{{ path('delete_events_admin',{'id':evenement.idev}) }}" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    {% if (evenement.etatev==0) %}
                                        <a href="{{ path('approuver_events_admin',{'id':evenement.idev}) }}">Approuver</a>
                                    {% endif %}
                                </td>
                            {% else  %}
                            <td bgcolor="red"> {{ evenement.nomev }}  </td>
                            <td bgcolor="red">{{ evenement.lieu }}</td>
                            <td bgcolor="red">{{ evenement.nbrparticipants }}</td>
                            <td bgcolor="red">{{ evenement.datedebut|date }}</td>
                            <td bgcolor="red">{{ evenement.datefin|date }}</td>
                            <td class="actions" bgcolor="red">

                                <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                <a href="{{ path('update_events_admin',{'id':evenement.idev}) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                <a  href="{{ path('delete_events_admin',{'id':evenement.idev}) }}" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                {% if (evenement.etatev==0) %}
                                    <a href="{{ path('approuver_events_admin',{'id':evenement.idev}) }}">Approuver</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {%endfor%}
            </table>
        </div>
    </section>
    </div>

    <script src="{{ asset('jquery.js') }}"></script><!--pour l'importation du bibliotheque jquery  -->
    <script>
        $('#cle').keyup(
            function () {
                var input=$('#cle').val();
                $.ajax({url:"{{ path ('gerer_events_admin')}}",
                    type:'POST',data:{'nom':input},
                    success:function (data) {console.log(data);
                        $('#t').empty();
                        $.each(data,function ( i,ele) {
                            $('#t').append(
                                "<tr >"+
                                "<td>"+ele.nomev+"</td>"+
                                "<td>"+ele.lieu+"</td>"+
                                "<td>"+ele.nbrparticipants+"</td>"+
                                "<td>"+"</td>"+
                                "<td>"+"</td>"+
                                "<td>"+ "</td>"+
                                "</tr>"
                            )

                        })}

                })

            }
        )
    </script>
{% endblock %}